.container {
    position: relative;
    margin: auto;
    width: 360px;
    height: 250px;
    border: 1px solid grey;
}

.base_img {
    padding: 1px;
    width: 359px;
}

.pump_box {
    position: absolute;
    left: 273px;
    bottom: 74px;
}

.valve_level_box {
    position: absolute;
    left: 304px;
    bottom: 57px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.t_for_box {
    position: absolute;
    left: 304px;
    bottom: 164px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.t_kitchen_box {
    position: absolute;
    left: 72px;
    bottom: 222px;
    background-color: #e0e8ff;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.t_hf_kitchen_box {
    position: absolute;
    left: 72px;
    bottom: 190px;
    background-color: #ffb3f2;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sp_t_for_box {
    position: absolute;
    left: 304px;
    bottom: 190px;
    background-color: #2aff2d;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}


.hall_level_box {
    position: absolute;
    left: 7px;
    bottom: 120px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 1px;
    border: solid 1px gray;
    font-weight: 600;
}

.kitchen_level_box {
    position: absolute;
    left: 72px;
    bottom: 120px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 1px;
    border: solid 1px gray;
    font-weight: 600;
}

.wc1_level_box {
    position: absolute;
    left: 135px;
    bottom: 120px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 1px;
    border: solid 1px gray;
    font-weight: 600;
}

.wc2_level_box {
    position: absolute;
    left: 198px;
    bottom: 120px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 1px;
    border: solid 1px gray;
    font-weight: 600;
}

.hall_lable {
    position: absolute;
    left: 8px;
    bottom: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.kitchen_lable {
    position: absolute;
    left: 77px;
    bottom: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.wc1_lable {
    position: absolute;
    left: 147px;
    bottom: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.wc2_lable {
    position: absolute;
    left: 206px;
    bottom: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}