.container {
    color: gray;
}

.value {
    font-size: x-large;
    flex: 1;
    color: black;
    font-weight: 400;
}

.units {
    font-size: medium;
    text-align: center;
    flex: 1;
    min-width: 40px;
}

.data {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 120px;
    min-width: 70px;
}

.item {
    max-width: 200px;
}