.container {
    margin: auto;
    width: 720px;
    height: 400px;
    border: solid 1px grey;
}

.air_unit {
    padding: 1px;
    width: 720px;
}

.kkb_box {
    position: relative;
    left: 100px;
    bottom: 160px;
    z-index: 5;
}

.supply_fan_box {
    position: relative;
    left: 375px;
    bottom: 430px;
}

.coil_box {
    position: relative;
    left: 200px;
    bottom: 640px;
}

.damper_bottom_box {
    position: relative;
    left: 562px;
    bottom: 732px;
}

.damper_top_box {
    position: relative;
    left: 562px;
    bottom: 965px;
}

.damper_fresh_box {
    position: relative;
    left: 694px;
    bottom: 913px;
}

.t_for_box {
    position: relative;
    left: 50px;
    bottom: 850px;
    background-color: #ffff7c;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.t_out_box {
    position: relative;
    left: 625px;
    bottom: 1111px;
    background-color: #7ccaff;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.t_ret_box {
    position: relative;
    left: 265px;
    bottom: 1047px;
    background-color: #ffff7c;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sp_t_ret_box {
    position: relative;
    left: 265px;
    bottom: 1117px;
    background-color: #2aff2d;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sp_t_for_box {
    position: relative;
    left: 50px;
    bottom: 1152px;
    background-color: #2aff2d;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.damper_level_box {
    position: relative;
    left: 630px;
    bottom: 1047px;
    background-color: #ffff7c;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.fan_pressue_box {
    position: relative;
    left: 376px;
    bottom: 1187px;
    background-color: #ffff7c;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.fan_speed_box {
    position: relative;
    left: 412px;
    bottom: 1076px;
    background-color: #ffff7c;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.freon_pressue_box {
    position: relative;
    left: 118px;
    bottom: 1133px;
    background-color: #ffff7c;
    width: 90px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}
.t_evaparator_box {
    position: relative;
    left: 239px;
    bottom: 1118px;
    background-color: #ffff7c;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
    z-index: 20;
}

.t_copmpressor_box {
    position: relative;
    left: 238px;
    bottom: 1086px;
    background-color: #ffff7c;
    width: 75px;
    font-size: 24px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
    z-index: 20;
}