.container {
    position: relative;
    margin: auto;
    width: 360px;
    height: 250px;
    border: 1px solid grey;
}

.air_unit {
    padding: 1px;
    width: 359px;
}

.kkb_box {
    position: absolute;
    left: 63px;
    bottom: 26px;
    z-index: 5;
}

.supply_fan_box {
    position: absolute;
    left: 150px;
    bottom: 120px;
}

.coil_box {
    position: absolute;
    left: 85px;
    bottom: 83px;
}

.damper_bottom_box {
    position: absolute;
    left: 280px;
    bottom: 105px;
}

.damper_top_box {
    position: absolute;
    left: 281px;
    bottom: 190px;
}

.damper_fresh_box {
    position: absolute;
    left: 340px;
    bottom: 137px;
}

.t_for_box {
    position: absolute;
    left: 35px;
    bottom: 170px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 1px;
    border: solid 1px gray;
    font-weight: 600;
}

.t_out_box {
    position: absolute;
    left: 310px;
    bottom: 211px;
    background-color: #7ccaff;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.t_ret_box {
    position: absolute;
    left: 231px;
    bottom: 170px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sp_t_ret_box {
    position: absolute;
    left: 231px;
    bottom: 196px;
    background-color: #2aff2d;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sp_t_for_box {
    position: absolute;
    left: 35px;
    bottom: 194px;
    background-color: #2aff2d;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.damper_level_box {
    position: absolute;
    left: 307px;
    bottom: 120px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.fan_pressue_box {
    position: absolute;
    left: 150px;
    bottom: 180px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.fan_speed_box {
    position: absolute;
    left: 170px;
    bottom: 100px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.freon_pressue_box {
    position: absolute;
    left: 33px;
    bottom: 107px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}
.t_evaparator_box {
    position: absolute;
    left: 133px;
    bottom: 75px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
    z-index: 20;
}

.t_copmpressor_box {
    position: absolute;
    left: 133px;
    bottom: 49px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
    z-index: 20;
}