.container {
    position: relative;
    margin: auto;
    width: 360px;
    height: 200px;
}

.air_duct {
    padding: 1px;
    width: 360px;
}

.damper_zal_left_box {
    position: absolute;
    left: 281px;
    bottom: 140px;
}

.damper_zal_right_box {
    position: absolute;
    left: 281px;
    bottom: 54px;
}

.damper_bedroom_right_box {
    position: absolute;
    left: 212px;
    bottom: 54px;
}

.damper_bedroom_left_box {
    position: absolute;
    left: 5px;
    bottom: 38px;
}

.damper_cabinet_left_box {
    position: absolute;
    left: 5px;
    bottom: 134px;
}

.damper_cabinet_right_box {
    position: absolute;
    left: 137px;
    bottom: 54px;
}

.damper_child_1_box {
    position: absolute;
    left: 137px;
    bottom: 139px;;
}

.damper_child_2_box {
    position: absolute;
    left: 212px;
    bottom: 139px;
}

.fan_pressue_box {
    position: absolute;
    left: 304px;
    bottom: 97px;
    background-color: #ffff7c;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sD_L_K_B_box {
    position: absolute;
    left: 4px;
    bottom: 100px;
    background-color: #7ccaff;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sD_D1_D2_box {
    position: absolute;
    left: 172px;
    bottom: 157px;
    background-color: #7ccaff;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sD_R_K_B_box {
    position: absolute;
    left: 172px;
    bottom: 35px;
    background-color: #7ccaff;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.sD_R_ZAL_box {
    position: absolute;
    left: 282px;
    bottom: 32px;
    background-color: #7ccaff;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}
.sD_L_ZAL_box {
    position: absolute;
    left: 282px;
    bottom: 163px;
    background-color: #7ccaff;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}

.zal_L_lable {
    position: absolute;
    left: 314px;
    bottom: 144px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.zal_R_lable {
    position: absolute;
    left: 314px;
    bottom: 58px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.cabinet_L_lable {
    position: absolute;
    left: 14px;
    bottom: 170px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.cabinet_R_lable {
    position: absolute;
    left: 110px;
    bottom: 39px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.bedroom_L_lable {
    position: absolute;
    left: 14px;
    bottom: 32px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}
.bedroom_R_lable {
    position: absolute;
    left: 215px;
    bottom: 39px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.childroom_lable {
    position: absolute;
    left: 165px;
    bottom: 132px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}
