.container {
    color: gray;
}

.value {
    font-size: x-large;
    flex: 1;
    color: black;
    font-weight: 400;
    min-width: 130px;
}

.units {
    font-size: medium;
    text-align: center;
    flex: 1;
}

.data {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}

.item {
    max-width: 170px;
}

.avatar {
    max-width: 40px;
    max-height: 40px;
    border-radius: 2%!important;
}
