.container {
    position: relative;
    margin: auto;
    width: 360px;
    height: 250px;
}

.base_img {
    padding: 1px;
    width: 359px;
}

.boiler_box {
    position: absolute;
    left: 111px;
    bottom: 48px;

}

.pump_recirc_box {
    transform: scaleX(-1) rotate(90deg);
    position: absolute;
    left: 273px;
    bottom: 71px;
}

.pump_circ_box {
    transform: scaleX(-1) rotate(90deg);
    position: absolute;
    left: 30px;
    bottom: 153px;
}

.recirc_lable {
    position: absolute;
    left: 246px;
    bottom: 140px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}
.circ_lable {
    position: absolute;
    left: 17px;
    bottom: 140px;
    font-size: 14px;
    font-weight: 600;
    color: #aaaaaa;
}

.sp_t_gvs {
    position: absolute;
    left: 147px;
    bottom: 213px;
    background-color: #2aff2d;
    font-size: 14px;
    padding: 2px;
    border: solid 1px gray;
    font-weight: 600;
    text-align: center;
}
